header {
  background: #BBBBBB;
  padding: 20px 0;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 5px;
}

nav a {
  text-transform: uppercase;
  /*Deixar as letras em maiúsculo*/
  color: black;
  font-weight: bold;
  /*Deixar letras em negrito*/
  font-size: 22px;
  /*Tamanho da fonte das letras*/
  text-decoration: none;
  /*Para tirar o sublinhado */
}

nav a:hover {
  color: #C78C19;
  /*Quando estiver encima do elemento, ele ficará dessa cor(#C78C19)*/
  text-decoration: underline;
  /*Quando estiver encima do elemento, ele fucará sublinhado a baixo da palavra*/
}

#banner {
	width:100%;
	margin-top: 2px;
}

.principal{
	background: #CCCCCC;
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

.beneficios {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}

footer {
  text-align: center;
  background: url('bg.jpg');
  padding: 40px 0;
}

.copyright {
  color: #FFFFFF;
  font-size: 13px;
  margin: 20px 0 0;
}